#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

h1 {
background-color: rgb(19, 19, 19);
color: white;
border-radius: 45px;
font-family: 'Trebuchet MS';
}

body {
    background-color: rgb(28, 28, 28);
    color: white;
    font-family: 'Trebuchet MS';
}